.input-search {
  @apply mb-10 rounded-sm border-2 py-1 px-2 font-serif text-lg outline-none focus:ring-4 focus:ring-sky-300 focus:ring-offset-2 focus:placeholder:opacity-0;
  transition: 0.5s all;
}
.input-search::placeholder {
  transition: 0.5s all;
}

.btn-search {
  @apply rounded bg-red-400 py-2 text-xl font-bold;
}

.search-gif {
  border-radius: 23% 77% 42% 58% / 75% 14% 86% 25%;
}

.search-pic-weather {
  animation: ball 3s infinite alternate linear;
  position: relative;
  /* transition: s all; */
}

@keyframes ball {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

.detail-section {
  @apply mt-5 flex h-96 w-80 flex-col justify-between rounded-lg bg-slate-200 px-3 pt-10;
}

.notFoundImage {
  @apply w-64;
  animation: borderRadius 4s infinite alternate ease-in-out;
}

@keyframes borderRadius {
  from {
    border-radius: 76% 24% 76% 24% / 25% 28% 72% 75%;
  }
  to {
    border-radius: 34% 66% 29% 71% / 54% 75% 25% 46%;
  }
}
